#carousel-categories{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    overflow: hidden;
}

#swiper-category{
    display: flex;   
    width: min-content;
    transition: 0.5ms ease;
}

#carousel-buttons{
    display: flex;
    justify-content: space-between;
}
#carousel-buttons button{
    background: none;
    cursor: pointer;
    border: none;
}