#carousel-categories{
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    overflow: hidden;
}

#swiper-category{
    display: flex;   
    width: min-content;
    transition: 0.5s ease;
}

#carousel-buttons{
    display: flex;
    justify-content: space-between;
    padding-bottom:1rem ;
}

#carousel-buttons button{
    background: none;
    cursor: pointer;
    border: 1px  #adadad solid;
    border-radius: 50%;
    padding: 0.5rem;
    color: blue;
}

#carousel-buttons button:disabled{
    background: none;
    cursor: pointer;
    border: none;
    color: gray;
}